@import url("https://fonts.googleapis.com/css?family=Patrick+Hand");
body {
  font-family: "Roboto";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  vertical-align: middle;
  background-color: #EEEEEE;
}
body .hidden {
  display: none;
}
body .abs-hidden-l-t {
  position: absolute;
  top: 0;
  left: 0;
  visibility: shown;
}
body .content-wrapper .content {
  display: flex;
  flex-direction: row;
  margin: 4% auto;
  align-items: center;
  justify-content: center;
  height: 100%;
}
@media screen and (max-width: 959px) {
  body .content-wrapper .content {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  body .content-wrapper .content .content-form {
    max-width: 400px;
    margin: 0 24px;
  }
}
body .content-wrapper .content .form {
  padding: 24px;
  padding-bottom: 70px;
  margin-right: 16px;
  min-width: 400px;
  background-color: #393E46;
  border-radius: 5px;
}
body .content-wrapper .content .form .form-title {
  font-size: 42px;
  margin-bottom: 16px;
  color: #eee;
}
body .content-wrapper .content .form input {
  padding: 4px 0 0 0;
  background: transparent;
  min-height: 40px;
  width: 100%;
  max-width: 350px;
  outline: none;
  font-size: 16px;
  margin: 4px 0;
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  transition: 0.2s ease-in-out;
  color:#EEE;
}

body .content-wrapper .content .form button {
font-size: 16px;
position: absolute;
margin: 12px 58px;
padding: 6px;
width: 20%;
text-align: center;
cursor: pointer;
border-radius: 5px;
background-color: #0f82e0;
color: #d6d6d6;
}
body .content-wrapper .content .form button:hover {
    background-color: #0762ad;
  }